body,html{
    height:100%;
}
.mainLayout{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.signUpLayout{
    margin-top: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: #E0E0E0;
    height: 500px;
}
.highlitedText{
    margin-top: 20px;
}
.usernameDiv {
    margin-top: 10px;
}
.logoImage {
    height: 70px;
    margin-top: 30px;
}
a:hover{
    text-decoration: none !important;
}
.usrnameInstruction{
    font-size: 14px;
}
.forgotDiv {
    margin-top: 20px;
}
.lastDiv{
    margin-top: 40px;
}
.sideLogo{
    text-align: center;
}
